form {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 0;

    h5 {
        margin: 16px 0 8px 0;
    }
    
    mat-radio-group {
        display: inline-flex;
        flex-direction: column;
    }
    
    mat-radio-button {
        margin: 4px;
    }
}
